<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestSection" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <TestSection>
    <add key="SectionKeyCustomClassLevel" value="SectionValueCustomClassLevel" />
  </TestSection>
</configuration>