<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestSection" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <TestSection>
    <add key="SectionKey" value="SectionValueInCustom" />
    <add key="SectionKeyCustom" value="SectionValueCustom" />
    <add key="SectionKeyMethodCustom" value="SectionValueMethodCustom" />
  </TestSection>
  <appSettings>
    <add key="CustomKeyEnum" value="Test"/>
    <add key="CustomKeyCustom" value="CustomValueCustom"/>
    <add key="CustomKeyCustomIntBad" value="z48z"/>
  </appSettings>
</configuration>