<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonExtensions.Helpers" version="2.5.4" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Essential.Diagnostics" version="1.99.0" targetFramework="net452" />
  <package id="Essential.Diagnostics.BufferedEmailTraceListener" version="2.0.206" targetFramework="net452" />
  <package id="Essential.Diagnostics.ColoredConsoleTraceListener" version="2.0.206" targetFramework="net452" />
  <package id="Essential.Diagnostics.Config" version="1.99.0" targetFramework="net452" />
  <package id="Essential.Diagnostics.Core" version="2.0.206" targetFramework="net452" />
  <package id="Essential.Diagnostics.EmailTraceListener" version="2.0.206" targetFramework="net452" />
  <package id="Essential.Diagnostics.Fluent" version="2.0.206" targetFramework="net452" />
  <package id="Essential.Diagnostics.InMemoryTraceListener" version="2.0.206" targetFramework="net452" />
  <package id="Essential.Diagnostics.RollingFileTraceListener" version="2.0.206" targetFramework="net452" />
  <package id="Essential.Diagnostics.RollingXmlTraceListener" version="2.0.206" targetFramework="net452" />
  <package id="Essential.Diagnostics.SqlDatabaseTraceListener" version="2.0.206" targetFramework="net452" />
  <package id="Flurl" version="2.8.0" targetFramework="net452" />
  <package id="Flurl.Http" version="2.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="Passager" version="0.2.2" targetFramework="net452" />
  <package id="System.Interactive" version="3.2.0" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>